* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-image: url(../login-form/login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}
.container .logo img{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 70%;
    top: 5px;

}